* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #041149, #51069c);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 580px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  text-align: center;
  color: white;
  height: auto;
}

h2 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #ff9966, #ff5e62);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.qr-box {
  margin-top: 25px;
  width: 500px;
}

.qr-box img {
  width: 1000px;
  padding: 12px;
  background: white;
  border-radius: 12px;
}

.link-text {
  font-size: 20px;
  margin-top: 12px;
  word-break: break-all;
  opacity: 0.9;
}

.back-btn {
  display: inline-block;
  margin-top: 18px;
  padding: 10px 16px;
  background: rgb(7, 11, 56);
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.back-btn:hover {
  background: #f1f1f1;
  color:black;
}
